.orangeOutline {
    border-style: solid;
    border-width: 2px;
    border-color: #ffc11a;
}
.gwt-Button-remove {
    width: 50px;
    background: rgba(215, 255, 17, 0.67) !important;
}
.gwt-Button-done {
    width: 50px;
    background: rgba(255, 201, 7, 0.67) !important;
}
.gwt-Button-default {
    width: 30px;
    background: rgba(255, 255, 255, 0.67) !important;
}
